
:root {
  --cor-primaria: #02ca6e;
  --cor-secundaria: #F2F2F2;
  --cor-texto: #000000;
  --cor-texto-secundario: #666666;
  --cor-branca: #ffffff;
  --cor-background: #f9f9f9;

  --fonte-titulo: 'Roca Two', sans-serif;
  --fonte-subtitulo: 'Roca Two Regular', sans-serif;
  --fonte-texto: 'Roca Two Thin', sans-serif;

  --titulo-tamanho: 42px;
  --subtitulo-tamanho: 32px;
  --texto-tamanho: 16px;
  --nota-tamanho: 13px;
  --botao-tamanho: 18px;

  --borda-raio: 30px;
  --borda-espessura: 2px;
}
